<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include ./partials/css.ejs   %>
    <title>Document</title>
</head>
<body>
        <% include ./partials/header.ejs   %>
        <div class="container main">
          <div class="row col-12 mb-5">

                        <div class="form-group">
                          <label for="exampleInputEmail1">Chercher un client:</label>
                          <input type="text" class="form-control" id="searchClient" aria-describedby="nomClient" placeholder="Nom du client" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                            <div id="js-result-list">

                            </div>
                        </div>

          </div>
            <div>

                <% if (errors) { %>
                <% for(var i=0; i < errors.length; i++) { %>

                <div class="alert alert-danger" role="alert">
                    <%= errors[i] %>
                </div>

                <% } %>
                <% } %>

                <form action="/clients/add" method="post">
                    <div class="form-group">
                        <label for="nom">Nom</label>
                        <input type="text" class="form-control" id="nom" placeholder="Nom" name="nom">
                    </div>
                    <div class="form-group">
                        <label for="prenom">Prénom</label>
                        <input type="text" class="form-control" id="prenom" placeholder="Prenom" name="prenom">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" name="email">
                    </div>

                    <button type="submit" class="btn btn-primary">Ajouter un client</button>
                </form>

            </div>
       
          <p class="alert_unfound alert alert-warning hide">Il n'y a pas de résultat pour cette recherche.</p>
            <div id="container_table_client">
            </div>

          </div><!-- /.container -->

         <% include ./partials/script.ejs %>
</body>
</html>