<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include ./partials/css.ejs   %>
    <title>Document</title>
</head>
<body>
        <% include ./partials/header.ejs   %>
        <div class="container main">
          <div class="row col-12 mb-5">

                        <div class="form-group">
                          <label for="exampleInputEmail1">Chercher un client:</label>
                          <input type="text" class="form-control" id="searchClient" aria-describedby="nomClient" placeholder="Nom du client" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                            <div id="js-result-list">

                            </div>
                        </div>

          </div>
            <div>
                <button type="button" class="btn btn-info" >
                    Ajouter un client
                </button>
            </div>
       
          <p class="alert_unfound alert alert-warning hide">Il n'y a pas de résultat pour cette recherche.</p>
            <div id="container_table_client">
            </div>

          </div><!-- /.container -->

         <% include ./partials/script.ejs %>
</body>
</html>