<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include ./partials/css.ejs   %>
    <title>Document</title>
</head>
<body>
        <% include ./partials/header.ejs   %>
        <div class="container main">
          <div class="row col-12 mb-5">
                <form action="/clients/searchByName"  method="post" id="formClient">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Chercher un client:</label>
                          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nom du client" name="nomClient">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                </form>
          </div>
       
          <p class="alert_unfound alert alert-warning hide">Il n'y a pas de résultat pour cette recherche.</p>
            <div id="container_table_client">
            </div>

          </div><!-- /.container -->

         <% include ./partials/script.ejs %>
</body>
</html>